// variables
$bright-cyan: #39cdcc;
$dull-blue: #21407d;
$grayish-blue: #545f7d;
$light-gray: #fbfbfb;
$dull-navy: #7b8db0;

@import './tabDetails';
@import './userDetails';
@import './header';
@import './sidebar';
